.auth{
    width: 200px;
    height: 200px;
    display: grid;
    margin-right: 15px;
}

.admin_panel{
    display: none;
}

.btn_for_admin{
    
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    

    button {
        width: 90px;
        height: 30px;

        border-radius: 8px;
        background-color: gray;
        color: whitesmoke;
        border: none;
        margin-right: 30px;
        margin-top: 10px;
        cursor: pointer;
    }
}

.admin_panel.show{
    display: grid;
}