* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #07c6e734;
    background-color: #025d83;
    height: 100vh;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}




