.user-info-active {
    display: none;
    flex-direction: column;
    background-color: #fff;
    height: 450px;
    width: 600px;
    border-radius: 30px;
    background: #fff;
    overflow: hidden;;
    margin-left: 20px;


    p {
        font-size: 25px;
        font-weight: bold;
        font-family: "Open Sans", sans-serif;
        
        

    }

    .user-info-top {
        display: flex;
        height: 15%;
        background-color: #fff;
        flex-direction: row;
        color: #000000;
        padding-top: 20px;
        align-items: center;
        justify-content: center;
        border-bottom: 2px solid #666666;
        padding-bottom: 10px;
        position: relative;
        
        

        .closenu {
            cursor: pointer;
            height: 20px;
            width: 20px;
            border: none;
            right: 10px;
            position: absolute;
            background: none;
            
        }

    }

    .user-info-name {
        display: flex;
        height: 27, 5%;
        background-color: #fff;
        flex-direction: row;
        color: #000000;
        padding-top: 25px;
        align-items: center;
        border-bottom: 2px solid #666666;
        padding-bottom: 25px;
        padding-left: 15px;

    }

    .user-info-members {
        display: flex;
        height: 35%;
        background-color: #fff;
        flex-direction: row;
        color: #000000;
        padding-top: 35px;
        align-items: center;
        border-bottom: 2px solid #666666;
        padding-bottom: 35px;
        padding-left: 15px;
    }

    .user-info-members {
        display: flex;
        height: 35%;
        background-color: #fff;
        flex-direction: row;
        color: #000000;
        padding-top: 35px;
        align-items: center;
        border-bottom: 2px solid #666666;
        padding-bottom: 35px;
        padding-left: 15px;
    }

    .user-info-time {
        display: flex;
        height: 35%;
        background-color: #fff;
        flex-direction: row;
        color: #000000;
        padding-top: 30px;
        align-items: center;
        padding-bottom: 35px;
        padding-left: 15px;
    }
}


.form-admin{
    display: grid;
}


.for_adm{
    position: absolute;
    left: 5px;
}